<span class="dropdown" v-class="open: isOpen" v-on="keyup: close | key esc">
  <button type="button" class="btn" v-on="click: toggle">
    {{ display }} <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <div v-if="searchable" class="search-box">
      <input type="text" class="form-control" v-model="pattern">
    </div>
    <ul class="menu-items">

      <!-- Ungrouped options -->
      <li class="option" v-repeat="options | filterBy pattern in text"
          v-on="click: setSelected(value)"
          v-class="invisible: hide">
        <a><span class="text">{{ text }}</span></a>
      </li>

      <!-- Grouped options -->
      <li class="optgroup"
          v-repeat="optgroups"
          v-class="invisible: hide">
        <span class="group-name">{{ $key }}</span>
        <ul>
          <li class="option" v-repeat="$value | orderBy 'text' | filterBy pattern in text"
              v-on="click: setSelected(value)"
              v-class="invisible: hide">
            <a><span class="text">{{ text }}</span></a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</span>
